<form *ngIf="!posted" class="form mt-4">
    <div class="form-group">
        <label for="title" class="display-1"> {{data?.title}}</label>
    </div>

    <div class="border-primary border-top">
        <div class="h-100">
            <app-field-lists [fieldConfigs]="data?.forms" (onSaveEvent)="onSave($event)" [showSave]="true"> </app-field-lists>
        </div>
    </div>
</form>
<div *ngIf="posted">
        <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Thanks for your valuable feedback.</p>
                <hr>
                
              </div>
</div>