<div class="row flow-column" [ngSwitch]="selectedFieldType?.value?.trim()">
<div class="col-12" *ngFor="let config of fieldConfigs"  >
        <div class="form-group">
            <label> {{config.title}}</label>
            <div [ngSwitch]="config.fieldType">
            <app-string-input  *ngSwitchCase="'Input'" [multiline]="false"></app-string-input> 
            <app-string-input   *ngSwitchCase="'Multiline'" [multiline]="true"></app-string-input> 
            <app-multi-value  *ngSwitchCase="'Select'" [inputType]="'checkbox'" [items]="config.formConfig?.split(',')"></app-multi-value> 
            <app-multi-value  *ngSwitchCase="'Dropdown'" [inputType]="'dropdown'" [items]="config.formConfig?.split(',')"></app-multi-value> 
            <app-file   *ngSwitchCase="'File'"  ></app-file> 
            <app-boolean-value  *ngSwitchCase="'Radio'"  [items]="config.formConfig?.split(',')"></app-boolean-value> 
        </div>
        </div>
      
</div>

     
</div>