<div class="jumbotron mt-4">
    <h1 class="display-4">Hello, user!</h1>
    <p class="lead">Welcome to SurveyShrike - a Survey Service  </p>
    <hr class="my-4">
    <p>SurveyShrike help businesses conduct surveys. SurveyShrike believes every customer has different views or comments about services and over all products. And every business needs to know right customer mindset to engage customers for long run. SurveyShrike is trying to solve this problem and needs your help to build a web based application.</p>
    

    <p class="lead">
        To create a new survey, you have to login, click on get started to help you login.    
        <a class="btn btn-primary btn-lg" href="javascript:void()" (click)="login()" role="button">Get started</a>

      
    </p>
    <p class="text-info"> <b> Note - </b> In case if you have a survey link, please use the same in next tab to complete the survey.</p>
  </div>